# Rust
target/
**/*.rs.bk
Cargo.lock

# Node
node_modules/
npm-debug.log
yarn-error.log

# VS Code Extension
.vscode-test/
extension/out/
*.vsix
extension/node_modules/

# Mac
.DS_Store

# Hybrid Generated
*.dSYM

# Firebase
website/.firebase
firebase-debug.log